.wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  border-left: 5px solid #C724B1;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #C724B1;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form button {
  padding: 12px;
  background: #C724B1;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.form button:hover {
  background: #9a248a;
}

/* METAL LIST */

.listCard {
  flex: 1;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.listTitle {
  font-size: 20px;
  color: #C724B1;
  margin-bottom: 15px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background: #F9F3F3;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 16px;
}
.wrapper {
  display: flex;
  gap: 30px;
}

.card, .listCard {
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
}

.title, .listTitle {
  font-size: 22px;
  color: #C724B1;
  margin-bottom: 15px;
}

.form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 12px;
}

.form button {
  width: 100%;
  padding: 10px;
  background: #C724B1;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancelBtn {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
  background: #ccc;
  color: black;
  border-radius: 6px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.actions {
  display: flex;
  gap: 10px;
}

.editBtn {
  background: #008080;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.deleteBtn {
  background: #9a248a;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}
