.footer {
  width: 100%;
  padding: 40px 30px;
  background: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

/* LEFT SECTION */
.left {
  flex: 1;
  min-width: 250px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #ffb3b3;
}

.desc {
  margin-top: 10px;
  line-height: 1.6;
  font-size: 15px;
  color: #ddd;
}

/* CENTER SECTION */
.center {
  flex: 1;
  min-width: 220px;
}

.heading {
  font-size: 20px;
  margin-bottom: 12px;
  color: #ffb3b3;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li {
  font-size: 16px;
  color: #ddd;
  margin: 6px 0;
  cursor: pointer;
  transition: 0.3s;
}

.links li:hover {
  color: #fff;
  text-decoration: underline;
}

/* RIGHT SECTION */
.right {
  flex: 1;
  min-width: 250px;
}

.info {
  margin: 8px 0;
  font-size: 16px;
  color: #ddd;
  line-height: 1.5;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .footer {
    text-align: center;
    flex-direction: column;
    gap: 30px;
  }
}
